*, *::before, *::after {
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: darkslategrey;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}

#start-popup {
    flex-direction: column;
    align-items: center;
}

.start-text {
    font-weight: bold;
}

.container {
    width: 800px;
    max-width: 80%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    color: white;
    position: relative;
    bottom: 2rem;
}

.text {
    text-align: center;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: hsl(200, 100%, 50%);
    border: 1px solid hsl(200, 100%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: lightgreen;
}

.cancel-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}